.container{
    background-color:rgb(0, 0, 0);
    color: rgb(127, 255, 223);
    display: block;
}
.a{
    font-size:40px;
    text-align: center;
}
#date-of-birth{
    text-align: center;
    display:block;
    margin: auto;
   
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 5px;
    
}
#ab{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    
}
#lucky-number{
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    font-size: 20px;

}
#check-number{
    display: block;
    text-align: center;
   font-size: medium;
    margin: auto;
   
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(127, 255, 223);
}
#output-box{
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
   background-color: aliceblue;
    justify-content: center;
    display: flex;
    font-size: 30px;
    background-color: transparent;
    color: rgb(127, 255, 223);
}